<div class="mt-5">
    <div class="row">

        <div class="col-4">
            <h6 class="text-center font-weight-bolder">Pages</h6>
        </div>
        <div class="col-4">
            <h6 class="text-center font-weight-bolder">Social Media</h6>  
        </div>
        <div class="col-4">
            <h6 class="text-center font-weight-bolder">Contact</h6>
        </div>
    </div>
    <hr class="mt-0">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            <p class="mb-2">
                <i class="fab fa-linkedin"></i>
                <a class="ml-3 font-weight-bolder" href="" target="_bank">LinkedIn</a>
            </p>
            <p class="mb-2">
                <i class="fab fa-github-square"></i>
                <a class="ml-3 font-weight-bolder" href="" target="_bank">GitHub</a>
            </p>
            <p class="mb-2">
                <i class="fab fa-discord"></i>
                <a class="ml-3 font-weight-bolder" href="" target="_bank">Discord</a>
            </p>
            <p class="mb-2">
                <i class="fab fa-twitter-square"></i>
                <a class="ml-3 font-weight-bolder" href="" target="_bank">Twitter</a>
            </p>
            <p class="mb-2">
                <i class="fab fa-instagram-square"></i>
                <a class="ml-3 font-weight-bolder" href="" target="_bank">instagram</a>
            </p>
            <p class="mb-2">
                <i class="fab fa-facebook-square"></i>
                <a class="ml-3 font-weight-bolder" href="" target="_bank">facebook</a>
            </p>
            <p class="mb-2">
                <i class="fab fa-steam-square"></i>
                <a class="ml-3 font-weight-bolder" href="" target="_bank">Steam</a>
            </p>
            <p class="mb-2">
                <i class="fab fa-reddit-square"></i>
                <a class="ml-3 font-weight-bolder" href="" target="_bank">reddit</a>
            </p>
        </div>
        <div class="col-4 pl-md-5">
            <p class="font-italic">Martin Erik Rieland Bisgaard</p>
            <small class="d-block text-muted mb-2">
                You are always welcome to email me, if you have any questions or ideas you want to share.
            </small>
            <small class="d-block text-muted mb-3">
                But be aware, I am always bussy so it can take some time before i reply.
            </small>
            <small class="d-block mb-3">Email:  <a href = "mailto: mebisgaard@gmail.com">mebisgaard@gmail.com</a></small>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-4">
        <div>
            <span class="text-muted ">© {{ year }} - Martin Erik Rieland Bisgaard - Denmark</span>
        </div>
    </div>
</div>