<div class="mt-5">
    <div class="row">
        <div class="col-4">
            <h6 class="text-center">Pages</h6>
        </div>
        <div class="col-4">
            <h6 class="text-center">Social Media</h6>
            <ul class="list-group list-group-flush ml-md-5 mr-md-5">
                <li class="list-group-item border-0"><i class="fab fa-linkedin"></i></li>
                <li class="list-group-item border-0"><i class="fab fa-github-square"></i></li>
                <li class="list-group-item border-0"><i class="fab fa-discord"></i></li>
                <li class="list-group-item border-0"><i class="fab fa-twitter-square"></i></li>
                <li class="list-group-item border-0"><i class="fab fa-instagram-square"></i></li>
                <li class="list-group-item border-0"><i class="fab fa-facebook-square"></i></li>
                <li class="list-group-item border-0"><i class="fab fa-steam-square"></i></li>
                <li class="list-group-item border-0"><i class="fab fa-reddit-square"></i></li>
            </ul>
        </div>
        <div class="col-4">
            <h6 class="text-center">Contact</h6> 
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-4">
        <div>
            <span class="text-muted ">© {{ year }} - Martin Erik Rieland Bisgaard - Denmark</span>
        </div>
    </div>
</div>